.photo-list__fav-icon {
  position: relative;
  top: 20px;
  right: -9px;
  cursor: pointer;
  margin-bottom: -30px;
  border-width: 0.1px;
  background-color: #EEEEEE;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 100%;
}

.photo-list__fav-icon-svg {
  padding: 7px;
  top: 2px;
  height: 50px;

}

.darkmode .photo-list__fav-icon {
  background-color: #555; /* Dark mode background color */
  color: #fff; /* Dark mode text color */
}

.darkmode .photo-list__fav-icon-svg {
  fill: #fff; /* Dark mode icon color */
}